// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#btn {
  background-color: #337ab8;
  color: white;
  border-radius: 0px 5px 5px 0px;
  border-color: #337ab8;
  box-shadow: none;

}


